<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>UNI.com</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href='../static/style.css'>
</head>

<body>

  <div class="mynav">
    <nav class="navbar navbar-expand-lg bg-light ">
      <div class="container-fluid nav-container">
        <img src="../static/img/logo.png" alt="Logo" style="width:60px;height:60px;">
        <a class="navbar-brand" href="/">UNI</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/about">About</a>
            </li>


            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/goals" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Goals
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/goals">SDG 1</a></li>
                <li><a class="dropdown-item" href="/goals">SDG 2</a></li>
                <li><a class="dropdown-item" href="/goals">SDG 3</a></li>
                <li><a class="dropdown-item" href="/goals">SDG 4</a></li>
                <li><a class="dropdown-item" href="/goals">SDG 5</a></li>
                <li><a class="dropdown-item" href="/goals">SDG 6</a></li>
                
                
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>

          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

  </div>
  <div class="container-fluid" style="padding: 0px;">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../static/img/car 2.jpg" class="d-block " alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
          <div class="carousel-item">
            <img src="../static/img/car.jpg" class="d-block w-100" alt="..." style="min-height: 200px;">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
          <div class="carousel-item">
            <img src="../static/img/car4.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

  <div class="container-all">
    <!-- 4 pillars of sustainability -->
    <div class="alert" style="padding-top: 20px; padding-bottom: 0px; ">
      <div class="alert alert-primary" role="alert"
        style="width:auto; background-color: rgb(177, 230, 206); color: black;">
        <b>Four Pillars of Sustainability</b>
      </div>
    </div>

    <!-- Grid  -->
    <div class="container-fluid text-center" style="margin-top: 0px;">
      <div class="row justify-content-md-center">
        <div class="col grid-item">
          <div class="card" style="width: 18rem;">
            <img src="../static/img/1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Social</h5>
              <p class="card-text">Social sustainability aims to preserve social capital by investing and creating
                services that constitute the framework of our society.</p>
            </div>
          </div>

        </div>
        <div class="col grid-item">
          <div class="card" style="width: 18rem;">
            <img src="../static/img/1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Human</h5>
              <p class="card-text">Human sustainability is focusing on nurturing and developing the human component of
                an organization and society at large</p>
            </div>
          </div>

        </div>
        <div class="col grid-item ">
          <div class="card" style="width: 18rem;">
            <img src="../static/img/1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Economic</h5>
              <p class="card-text">Economic sustainability means that a business needs to be growing and profitable to
                be sustainable, without profit the organization would not survive.</p>
            </div>
          </div>

        </div>
        <div class="col grid-item">
          <div class="card" style="width: 18rem;">
            <img src="../static/img/1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Environmental</h5>
              <p class="card-text">Environmental sustainability seeks to improve human well-being and long-term
                sustainability through environmental preservation.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  </div>
  <div class="boundary" style="padding-left: 10px; padding-right: 10px; padding-top: 20px;">
    <div class="container-fluid"
      style="padding: 10px; border-style: ridge; border-radius: 20px; border-color: rgb(181, 226, 199);">
      <b style="color: rgb(76, 76, 75);">
        <h5>What is Sustainable Development</h5>
      </b>
      Sustainable development refers to the idea that humans should sustain themselves by meeting their basic needs
      while also ensuring that future generations can meet their basic needs.
      <br>
      In other words, it is a method of organising society that allows it to exist for a long time without jeopardising
      the availability of resources for future generations.
      <br>
      For sustainable development, factors such as environmental and natural resource preservation, as well as social
      and economic equality, must be followed.
      <br>
      This concept is not new; many cultures have followed it throughout history in order to maintain a balance between
      man and nature as well as the economy.<br><br>
      
      <b style="color: rgb(76, 76, 75);">
        <h5>Objectives of Sustainable
          Development </h5>
      </b>
      1. Economic Growth: To create a sustainable economy that is growing in the right direction.<br>
      2. Environmental Protection: This goal focuses on humans' contributions to protecting and improving the natural
      environment by reducing pollution and waste and working to reduce the global carbon footprint.<br>
      3. Social Inclusion: This goal focuses on providing housing for future generations as well as assisting in the
      creation of healthy, strong, and vibrant global communities.<br><br>

    </div>
  </div>

  <footer style="padding: 10px;">
    <div class="center">
      Copyright &copy; www.UNI.com. &ensp; All rights reserved!
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</body>

</html>



<!-- https://source.unsplash.com/1300x200/?sustainable -->